* {
    box-sizing: border-box;
}
.container {
    background: #F2F9FF;
    margin: 0 auto;
    /*background: url("IMG/Rectangle\ 1.png");
    background-position: 50% 100%;
    background-size: 63% 100%;*/
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
/*Header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 100px;
}
.brand {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}
nav li {
    display: inline;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}
nav li a {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}
nav li a:hover {
    text-decoration: underline;
    text-decoration-color: #05B4FF;
    text-decoration-thickness: 2px;
}
.headerR {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: first baseline;
}
.headerRL li a {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 41px;
    height: 119px;
    transform: rotate(90deg);
    flex-shrink: 0;
    border-radius: 5px 15px 15px 15px;
    background: #2B2B2B;
    padding: 10px;
}
.headerRR i {
    padding: 15px;
    border-radius: 5px 15px 15px 15px;
    background: #43C7FF;
}
.purchase {
    padding: 5px 10px;
    background-color: #525252;
    border-radius: 50px;
}
/*Main*/
main {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0 0 0 30px;
}
.contentUL {
    flex-grow: 1;
}
.contentUL img {
    flex-shrink: 0;
    border-radius: 15px 50px 50px 50px;
    padding: 40px 40px 0 40px;
}
.contentUR {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}
.contentUR h1 {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -3.25px;
    padding: 50px 0;
}
.contentUR p {
    color: #969696;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}
.contentUR h3 {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
}
.contentURphotos {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: auto auto 0 0;
}
.photoContainer {
    width: 159px;
    height: 93px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 10px 10px 30px 0px rgba(67, 199, 255, 0.30);
    padding: 15px 20px;
}
.contentURphotos img {
    width: 116px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 15px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.10); 
}
.contentURphotosFirst {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 10px 10px 30px 0px rgba(67, 199, 255, 0.30);
    padding: 15px 20px;
    max-width: 363px;
    max-height: 93px;
    flex-shrink: 0;
}
.contentURphotosFirst a {
    width: 42px;
    height: 42px;
    flex-shrink: 0;
}
.contentURphotosFirstText {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
.contentURphotosFirstText h5 {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    padding: 0;
}
.contentURphotosFirstText p {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
}
.contentURphotosFirst a img {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    padding: 5px;
    background-color: #05B4FF;
}
/*Footer*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px 0 0 0;
}
.footerL li {
    display: inline;
}
.footerL li a{
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.9px;
    padding: 30px;
}
.footerR p {
    display: inline;
    color: #6D6D6D;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1px;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.footerR p image {
    width: 35.2px;
    height: 24px;
    flex-shrink: 0; 
}